.title-container > .title {
    background-image: url("/img/fondos/fondo2.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    padding-block: 45vh;
}
@media (width < 500px) {
    .title-container > .title {
        font-size: 3rem;
    }
}

.cards-container > .card > .icono > img{
    width: 48px;
}

.cards-container > .card > .card-title {
    font-size: 2rem;
}
.cards-container > .card > .card-text {
    padding-inline: 2rem;
    word-wrap: break-word;
}
.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-block: 5%;

}

.cards-container > .card {
    background-color: rgba(114, 114, 114, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    width: 90%;

    min-height: 300px;
    max-height: 300px;
    
    flex: 1;
    gap: 1rem;
}

@media (width > 900px) {
    
    .cards-container > .card {
        
        max-width: 33%;

    }
    .cards-container {
        flex-direction: row;
        font-size: 1rem;
        width: 90%;
        margin-inline: auto;
    }
}

/*CSS PARA EL MAPA*/

.map {
    padding: 1rem;

}
.map > iframe {
    width: 100%;
    min-width: 250px;
    min-height: 400px;
}

/*CSS PARA EL FORM*/

.form-msg > div > .title {
    font-size: 1.5rem;
    padding: 1rem;
}

.form-msg > div {
   
}

.form-msg > div:nth-child(2) {

}

.form-msg{
    width: 90%;
    margin-inline: auto;
    display: flex;
}
.map-container {
    flex:2;
}
.form-container {
    flex:3;
}

.form > .form-group{
    display: flex;
}
.form {
    padding: 1rem;
}
.form > .form-group > div {
    flex: 1;
}
.form > div {
    margin-bottom: 1rem;

}

.form-control-short > input{
    font-size: 1rem;
    width: 90%;
}
.form-control-long > textarea{
    font-size: 1rem;
    width: 95%;
    height: 20vh;
    resize: none;
}

.form-button {
    text-align: center;
    margin-bottom: 1rem;
}
.form-button > button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 1rem;
}
.form-button > button:hover{
    cursor: pointer;
    animation: green-bg forwards 0.5s;
}
@keyframes green-bg {
    from {
        background-color: black;
        color: white;
    }
    to {
        background-color: rgb(0, 255, 13);
        color: black;
    }
}

@media (width < 750px) {
    .form-msg {
        flex-direction: column;
    }
    .form-group {
        flex-direction: column;
    }

    .form-control-short > input{
        font-size: 1rem;
        width: 95%;
    }
    .form-control-long > textarea{
        font-size: 1rem;
        width: 95%;
    
        resize: none;
    }
    .form > .form-group{
        gap: 1rem;
    }
    .form {
        padding: 0 1rem 1rem 1rem;
    }
}

