:root{
    --nav-bg-color: rgba(0, 58, 113,.9);
    --nav-text-color: #f6f6f6;
    --nav-link-hover-color: #2d3af9;
}

.logo_container > img{
    height: 4rem;
    padding-inline: 1rem;
}

.nav_container { /*Este es el del display flex*/
    position: fixed;
    top:0;
    display: flex;
    flex-wrap: wrap;
    padding-block: 0.5rem;
    color: var(--nav-text-color);
    background-color: var(--nav-bg-color);
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    width: 100%;
    z-index: 2;
}

.nav_list {
    list-style-type: none;
    padding: 0;
}

.dropdown {
    padding-inline: 1rem;
    display: none;
}
.dropdown >span:hover{
    cursor: pointer;
}
.dropdown > span{
    transform: scaleY(0.95);
}

.nav_list > li {
    display: inline;
    padding-inline: 0.25rem;
    transform: scaleY(0.95);
}

.nav_list > li > a {
    color: var(--nav-text-color);
    text-decoration: none;
    padding-inline: 1.25rem;
    padding-block: 0.75rem;
}

.nav_list > li > a:hover {
    /*color: var(--nav-link-hover-color);*/
    border-radius: 5px;
    background-color: var(--nav-link-hover-color);
}