@media (width < 1200px) {
    .text_container > h2 {
        font-size: 8rem;
    }
}

@media (width < 800px) {
    .text_container > h2 {
        font-size: 6rem;
    }
}

@media (width < 700px) {
    .text_container > h2 {
        font-size: 4rem;
    }
}

@media (width < 500px) {
    .text_container > h2 {
        font-size: 3rem;
    }

    .static_text{
        height: 50%;
        position: relative;
    }
    .dinamic_text{
        height: 50%;
    }
    .hero_typing_text{
        font-size: 2rem;
    }

    .particle_1{

        top: 10%;
      
        width: 150px;
        height: 150px;
    }
}

