@media (width < 1200px) {
    .hero_text_container > h2 {
        font-size: 4rem;
    }
}

@media (width < 800px) {
    .hero_text_container > h2 {
        font-size: 3rem;
    }
}

@media (width < 700px) {
    .hero_text_container > h2 {
        font-size: 3rem;
    }
}

@media (width < 500px) {
    .hero_text_container > h2 {
        font-size: 2rem;
        text-align: center;
    }
}

