@media (max-width: 700px){
    .nav_list > li {
        display: block;
        padding-block: 7px;
    }
    .nav_list {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .dropdown {
        display: block;
    }
    .logo_container{
        font-size: 1.20rem;
        font-weight: bold;
    }
    
}
@media (width > 700px){
    .dropdown {
        display: none;
    }
    .nav_list > li > a{
        padding-inline: 1.25rem;
    }
}